---
import SliceGrid from '../layouts/SliceGrid.astro';
import Column from '../layouts/Column.astro';
import { storyblokEditable } from '@storyblok/astro'

const colorTextSecondary = "rgba(10, 10, 10, 0.6)";
const {blok} = Astro.props;
console.log("base heading", blok);
const maxSubheadingWidth = "800px"; // Default value, can be overridden by props
---
<SliceGrid {...storyblokEditable(blok)}>
    <Column gridColumn='span 3'>
        {blok.eyebrow && <span class="eyebrow">{blok.eyebrow}</span>}
    </Column>
    <Column gridColumn='span 8'>
        {blok.text && <h2 class="heading">{blok.text}</h2>}
        {blok.subheading && <p class="subheading">{blok.subheading}</p>}
    </Column>
</SliceGrid>

<style lang="scss" define:vars={{ maxSubheadingWidth, colorTextSecondary }}>
    @import '../styles/mixins.scss';
    .eyebrow {
        font-size: 16px;
        color: var(--colorTextSecondary);
        margin-bottom: 8px;
        @include P14Mono;
    }
    .heading {
        margin-bottom: 16px;
        @include H56;
    }
    .subheading {
        font-size: 20px;
        max-width: var(--maxSubheadingWidth, 800);
    }
    .ctaContainer {
        display: flex;
        margin-top: 24px;
        gap: 16px;
    }
</style>