---
import {Button} from '../components/Button';

interface Props {
    heading?: string;
    subheading?: string;
    maxSubheadingWidth: number;
    primaryCta?: ButtonType;
    secondaryCta?: ButtonType;
}

const {heading, subheading, maxSubheadingWidth, primaryCta, secondaryCta} = Astro.props;
---
{heading && <h2 class="heading">{heading}</h2>}
{subheading && <p class="subheading">{subheading}</p>}
<div class="ctaContainer">
    {primaryCta && <Button {...primaryCta} />}
    {secondaryCta && <Button {...secondaryCta} styleType="secondary" />}
</div>

<style define:vars={{ maxSubheadingWidth }}>
    .heading {
        white-space: pre;
        font-size: 48px;
        margin-bottom: 16px;
    }
    .subheading {
        font-size: 20px;
        max-width: var(--maxSubheadingWidth, 800);
    }
    .ctaContainer {
        display: flex;
        margin-top: 24px;
        gap: 16px;
    }
</style>